#avatarNavSet a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all .2s ease-in-out;
}

#avatarNavSet a:hover{
    text-decoration: none;
    color: rgb(197, 126, 104);
}

#avatarNavSet i{
    font-size: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all .2s ease-in-out;
}

#avatarNavSet i:hover{
    text-decoration: none;
    color: rgb(197, 126, 104);
}


.bg-pink{
    background-color: rgb(197, 126, 104);
}