/* 基本設定 starts */
body{
    background-color: rgb(54, 50, 50);
}

.container-fluid,.container{
    padding: 0;
}

.row{
    margin: 0;
    padding: 0;
}

mark{
    padding: 0 0;
    background-color: transparent;
}
/* 基本設定 ends */

/* 頁首starts */
header{
    width: 100%;
    height: 100vh;
    position: relative;
}

header nav{
    height: 10%;
}

header nav div:last-of-type{
    display: flex;
    justify-content: end;
}

header section{
    height: 90%;
    justify-content: end;
}

header section .paddingMap{
    padding: 0 100px;
}

header>figure,header>h3,header>hgroup{
    position: absolute;
    top: 0;
    left: 0;
}


/* 頁首ends */

/* media query starts*/

@media screen and (max-width: 576px){
    header section .paddingMap{
        padding:0 50px;
    }
}

/* media query ends*/