
@{
    Layout = null;
}



<link rel="stylesheet" href="./css/UserList.css">

<!-- breadcrumb start -->
<div class="justify-items-start">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a href="#">系統管理員</a></li>
            <li class="breadcrumb-item active" aria-current="page">展覽資訊</li>
        </ol>
    </nav>
</div>
<!-- breadcrumb end -->
<article>
    <section id="Section">
        <div class="AllList">
            <!-- 關鍵字查詢 start-->
            <div class="AllListTitle">
                <div class="input-group-prepend my-1">
                    <div class="row w-100">
                        <!-- 下拉式地區搜尋 -->
                        <div class="dropdown d-flex my-auto col-6 col-md-6 col-lg-3">
                            <a class="btn btn-White dropdown-toggle col-6" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                台北市
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">台北市</a>
                                <a class="dropdown-item" href="#">台中市</a>
                                <a class="dropdown-item" href="#">高雄市</a>
                            </div>
                            <a class="btn btn-White dropdown-toggle col-6" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                台北市
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">台北市</a>
                                <a class="dropdown-item" href="#">台中市</a>
                                <a class="dropdown-item" href="#">高雄市</a>
                            </div>
                        </div>

                        <!-- 時間搜尋 -->
                        <div id="timeSelect" class="d-flex col-6 col-md-6 col-lg-9 justify-content-end">
                            <div class="row w-100 justify-content-between">
                                <label for="startDate" class="col-lg-2-text-right my-auto p-0">開始時間</label>
                                <input type="date" class="form-control col-lg-4" id="startDate">
                                <label for="endDate" class="col-lg-2-text-right my-auto p-0">結束時間</label>
                                <input type="date" class="form-control col-lg-4" id="endDate">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="AllListTitle">
                <div class="input-group-prepend my-2 justify-content-between">
                    <div class="row col-10 col-sm-8">
                        <!-- <span class="col-11 col-md-4 my-auto mx-2">一般會員</span> -->
                        <input type="text" id="textSearch" class="col-10 col-sm-8 form-control rounded-pill my-1 w-100 " style="width:180px;height:auto;" placeholder="關鍵字搜尋" aria-label="search" aria-describedby="buttonSearch">
                        <button class="btn col-2 col-md-1 my-2" type="button" id="buttonSearch"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                    <div class="my-auto">
                        <a class="btn " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-sort-amount-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" id="sort">
                            <a href="#" class="dropdown-item">編號排序</a>
                            <a href="#" class="dropdown-item">帳號排序</a>
                            <a href="#" class="dropdown-item">註冊日排序</a>
                        </div>
                    </div>
                </div>
                <!-- 關鍵字查詢 end -->
                <div class="AllListContent">
                    <table class="table table-hover w-100">
                        <thead>
                            <tr>
                                <th scope="col-1 col-md-1">編號</th>
                                <th scope="col-3 col-md-3">展演名稱</th>
                                <th scope="col-1 col-md-1">單位</th>
                                <th scope="col-1 col-md-1">縣市</th>
                                <th scope="col-1 col-md-1" class="d-none d-sm-table-cell">鄉鎮</th>
                                <th scope="col-2 col-md-2">開始日</th>
                                <th scope="col-2" class="d-none d-lg-table-cell">結束日</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="showInform" href="" data-toggle="modal" data-target="#staticBackdrop">
                                <td scope="col-1 col-md-1">S0001</td>
                                <td scope="col-3 col-md-3">晚安，待會見</td>
                                <td scope="col-1 col-md-1">蘇育賢</td>
                                <td scope="col-1 col-md-1">台北市</td>
                                <td scope="col-1 col-md-1" class="d-none d-sm-table-cell">不知</td>
                                <td scope="col-2 col-md-2">2021/06/06</td>
                                <td scope="col-2" class="d-none d-lg-table-cell">2021/09/13</td>
                            </tr>
                            <tr class="showInform" href="" data-toggle="modal" data-target="#staticBackdrop">
                                <td scope="col-1 col-md-1">S0002</td>
                                <td scope="col-3 col-md-3">黎志文個展</td>
                                <td scope="col-1 col-md-1">黎志文</td>
                                <td scope="col-1 col-md-1">台北市</td>
                                <td scope="col-1 col-md-1" class="d-none d-sm-table-cell">不知</td>
                                <td scope="col-2 col-md-2">2021/07/06</td>
                                <td scope="col-2" class="d-none d-lg-table-cell">2021/09/13</td>
                            </tr>
                            <tr class="showInform" href="" data-toggle="modal" data-target="#staticBackdrop">
                                <td scope="col-1 col-md-1">S0003</td>
                                <td scope="col-3 col-md-3">單飛不解散，你怎麼說</td>
                                <td scope="col-1 col-md-1">紅野畫廊</td>
                                <td scope="col-1 col-md-1">台北市</td>
                                <td scope="col-1 col-md-1" class="d-none d-sm-table-cell">中山區</td>
                                <td scope="col-2 col-md-2">2021/06/06</td>
                                <td scope="col-2" class="d-none d-lg-table-cell">2021/09/13</td>
                            </tr>
                            <tr>
                                <td scope="col-1 col-md-1">S0004</td>
                                <td scope="col-3 col-md-3">單飛不解散，你怎麼說</td>
                                <td scope="col-1 col-md-1">紅野畫廊</td>
                                <td scope="col-1 col-md-1">台北市</td>
                                <td scope="col-1 col-md-1" class="d-none d-sm-table-cell">中山區</td>
                                <td scope="col-2 col-md-2">2021/06/06</td>
                                <td scope="col-2" class="d-none d-lg-table-cell">2021/09/13</td>
                            </tr>
                            <tr>
                                <td scope="col-1 col-md-1">S0005</td>
                                <td scope="col-3 col-md-3">單飛不解散，你怎麼說</td>
                                <td scope="col-1 col-md-1">紅野畫廊</td>
                                <td scope="col-1 col-md-1">台北市</td>
                                <td scope="col-1 col-md-1" class="d-none d-sm-table-cell">中山區</td>
                                <td scope="col-2 col-md-2">2021/06/06</td>
                                <td scope="col-2" class="d-none d-lg-table-cell">2021/09/13</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <nav aria-label="Page navigation example" class="mt-2">
                    <ul class="pagination justify-content-center text-secondary">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>


    </section>

</article>


<!-- 彈出視窗顯示展演資訊 -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade px-0" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <!-- 控至彈出窗大小 -->
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">展演詳細資訊</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <main>
                    <!-- 主內容 -->
                    <!-- ajax導入相關內容 -->
                    <section id="Section" class="w-100">
                        <div id="detailInform">
                        </div>
                    </section>
                </main>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
  //點擊分頁連結頁面
  //一般使用者list
    $(".showInform").click(function () {
        $.ajax({
            type: 'post',
            url: '@Url.Action("ShowInformPage", "Admin")',
            data: {},
            success: function (data) {
                $('#detailInform').html(data);
            }
        });
    });
</script>