
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/Adminiframe/iframe.css">
<div class="row">
    <!-- 用戶瀏覽數量統計 -->
    <!-- 本週使用人數 -->
    <div class="col-12 col-xxl-6 mx-0 w-100 iframeOuter">
        <iframe class="iframeInner" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSG6ElWJGuiWH4N2Ys5ROtM8ulGEGsrERru-RZUj_4Eoe3Z0WU8qE4VjS0h10PVunzo_tBaGfUpqG3i/pubchart?oid=1510440288&amp;format=interactive"></iframe>
    </div>

    <!-- 本週流量 -->
    <div class="col-12 col-xxl-6 mx-0 w-100 iframeOuter">
        <iframe class="iframeInner" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSG6ElWJGuiWH4N2Ys5ROtM8ulGEGsrERru-RZUj_4Eoe3Z0WU8qE4VjS0h10PVunzo_tBaGfUpqG3i/pubchart?oid=1298885115&amp;format=interactive"></iframe>
    </div>

    <!-- 本週使用瀏覽器分佈 -->
    <div class="col-12 col-xxl-6 mx-0 w-100 iframeOuter">
        <iframe class="iframeInner" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSG6ElWJGuiWH4N2Ys5ROtM8ulGEGsrERru-RZUj_4Eoe3Z0WU8qE4VjS0h10PVunzo_tBaGfUpqG3i/pubchart?oid=216040293&amp;format=interactive"></iframe>
    </div>

    <!-- 本週使用機器分佈 -->
    <div class="col-12 col-xxl-6 mx-0 w-100 iframeOuter">
        <iframe class="iframeInner" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSG6ElWJGuiWH4N2Ys5ROtM8ulGEGsrERru-RZUj_4Eoe3Z0WU8qE4VjS0h10PVunzo_tBaGfUpqG3i/pubchart?oid=252294656&amp;format=interactive"></iframe>
    </div>
</div>



@*<div class="AllListTitle">
    <div class="input-group-prepend my-1">
        <div class="row w-100 mt-2">*@
            <!-- 時間搜尋 -->
            @*<div id="timeSelect" class="d-flex col-6 col-md-6 col-lg-8 justify-content-end">
                <div class="row w-100 justify-content-between">
                    <label for="startDate" class="col-lg-2-text-right my-auto p-0">開始時間  </label>
                    <input type="date" class="form-control col-lg-4" id="startDate">
                    <label for="endDate" class="col-lg-2-text-right my-auto p-0 pr-1 ">結束時間  </label>
                    <input type="date" class="form-control col-lg-4" id="endDate">
                </div>
            </div>
        </div>
    </div>
</div>*@



<!--<div class="row">-->
    <!-- 用戶瀏覽數量統計 -->
    <!--<canvas id="webFlowLiner" class="col-12 col-lg-6"></canvas>
    <canvas id="webFlowBar" class="col-12 col-lg-6"></canvas>
    <canvas id="webNewLiner" class="col-12 col-lg-6"></canvas>
    <canvas id="webNewCustomerLiner" class="col-12 col-lg-6"></canvas>
    <canvas id="webNewShowLiner" class="col-12 col-lg-6"></canvas>
</div>-->


<!-- <script>
  // document.addEventListener("DOMContentLoaded", function () {
  //   $('#drawStatisticsMain').load('ManagerPage/DataStatistics/drawStatistics.html');
  // });
</script> -->


@*<script src="~/javascript/Admin/drawCanvasData.js"></script>
<script>
  lineChart(document.getElementById('webFlowLiner').getContext('2d'), true, 'circle', 0, true, '一般用戶數量');
  lineChart(document.getElementById('webNewLiner').getContext('2d'), true, 'circle', 0, true, '用戶新增量bar');
  bar(document.getElementById('webFlowBar').getContext('2d'), true, 'circle', 0, true, '展演單位數量');
  bar(document.getElementById('webNewCustomerLiner').getContext('2d'), true, 'circle', 0, true, '展商新增量bar');
  bar(document.getElementById('webNewCustomerLiner').getContext('2d'), true, 'circle', 0, true, '地區瀏覽排行');
</script>*@




