.borderBlack {
    border: 1px solid black;
}

.postAvatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.mediaContentLess {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}


.GalleryImg {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

    .GalleryImg img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        transition: all .3s ease-in-out;
        filter: grayscale(.5);
    }

        .GalleryImg img:hover {
            transform: scale(1.2);
            filter: grayscale(0);
        }

a {
    text-decoration: none;
    color: black;
    transition: all .3s ease-in-out;
}

    a:hover {
        text-decoration: none;
        color: rgb(197, 126, 104);
    }

.GalleryDetailDiv {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 992px) {
    .GalleryImg {
        width: 400px;
        height: 400px;
    }

        .GalleryImg img {
            width: 400px;
            height: 400px;
        }
}

.bg-gray {
    background-color: rgba(196, 196, 196, 1);
}


/* shortDetail 白色敘述卡 starts*/
.shortDetail {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 0 10px rgb(131, 131, 131);
    width: 80%;
    z-index: 1000;
    padding: 20px;
    position: absolute;
    bottom: -10%;
    left: 10%;
}

    .shortDetail a {
        text-decoration: none;
        color: rgb(197, 126, 104);
        font-size: 10px;
        transition: all .3s ease-in-out;
    }

        .shortDetail a:hover {
            color: rgb(197, 126, 104);
        }

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* https://medium.com/@jacobhsu/css-%E9%99%90%E5%88%B6%E5%85%A7%E5%AE%B9%E5%AD%97%E6%95%B8-224926dd642f  */
}

    .description a {
        font-size: 15px;
        color: black;
    }


.showImg {
    max-width: 100%;
    height: 250px;
    overflow: hidden;
}

    .showImg img {
        max-width: 100%;
        height: 250px;
        object-fit: cover;
        transition: all .3s ease-in-out;
    }

        .showImg img:hover {
            transform: scale(1.2);
        }

.marqee {
    height: 24px;
    width: 65%;
    overflow: hidden;
    position: relative;
}

    .marqee a {
        /*display: flex;*/
        position:absolute;
        top: 2px;
        animation: marqee 8s linear infinite;
        white-space: nowrap;
    }


@media screen and (max-width: 992px) {
    .showImg {
        height: 400px;
    }

        .showImg img {
            height: 400px;
        }

    .shortDetail a {
        font-size: 15px;
    }

    .description a {
        font-size: 20px;
        color: black;
    }

    .showlistRow > div {
        margin-bottom: 100px;
    }
}
/* shortDetail 白色敘述卡 ends*/


/* MemberPage */
.MyshowDeleteIcon {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 25px;
    padding: 1px 3px;
    background-color: rgb(256, 256, 256, 0.7);
    color: rgb(36, 36, 36);
}

    .MyshowDeleteIcon:hover {
        background-color: rgb(256, 256, 256, 1);
    }



/* MyItineraryPage */
.showCityBorder {
    border: 1px solid #ced4da;
}

/* showSort icon */
.showSort i {
    font-size: 15px;
}

/* mySubscriptionPage */
.mySubscriptionDeleteIcon {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 35px;
    padding: 1px 3px;
    background-color: rgb(256, 256, 256, 0.7);
    color: rgb(36, 36, 36);
}

@media screen and (max-width: 768px) {
    .mySubscriptionDeleteIcon {
        display: flex;
        position: absolute;
        top: 0px;
        right: 0px;
    }
}


/* mySubscription detail page */
.breadcrumb .active {
    color: #C57E68;
}


.spanText {
    background-color: rgba(196, 196, 196, 1);
    border-radius: 2px;
    color: white;
}

.subscriptionShowImg img {
    height: 300px;
}

.SubShowDetail {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 0 10px rgb(131, 131, 131);
    width: 80%;
    z-index: 1000;
    padding: 20px;
    position: absolute;
    bottom: -15%;
    right: 7%;
}

@media screen and (max-width: 768px) {
    .SubShowDetail {
        width: 65%;
        bottom: -15%;
    }
}

.SubShowDetail a {
    text-decoration: none;
    color: rgb(197, 126, 104);
    font-size: 10px;
    transition: all .3s ease-in-out;
}

    .SubShowDetail a:hover {
        /* font-weight: bold; */
        color: rgb(0, 0, 0);
    }


/* mySubscription detail page */
.showDetailInform {
    background-color: rgb(196, 196, 196);
}

/*右側各星號評論百分比*/
.progress {
    height: 16px;
}

    .progress > span {
        line-height: 16px;
        font-size: 16px;
    }


@keyframes marqee {
    0% {
        left: 100%;
        transform: translateX(0%);
    }

    100% {
        left: 0;
        transform: translateX(-100%);
    }
}