
.GalleryImg{
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.GalleryImg img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all .3s ease-in-out;
    filter: grayscale(.5);
}

.GalleryImg img:hover{
    transform: scale(1.2);
    filter: grayscale(0);
}

a{
    text-decoration: none;
    color: black;
    transition: all .3s ease-in-out;
}

a:hover{
    text-decoration: none;
    color:rgb(197, 126, 104);
}

.GalleryDetailDiv{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 992px){
    .GalleryImg{
        width: 400px;
        height: 400px;
    }

    .GalleryImg img{
        width: 400px;
        height: 400px;
    }
    
}
