#userAvatarImg{
    filter: brightness(.5);
}

#userAvatarDiv{
    position: relative;
    width: 100px;
    height: 100px;
    transition: all .2s ease-in-out;
}

#userAvatarDiv:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.fa-camera{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    transition: all .2s ease-in-out;
}

#fakeDiv{
    width: 100px;
    height: 100px;
    display: none;
}

/* 移除mainPage(影響整個主頁) input css */
/* 
#mainPage input{
    height: 32px;
} */

/* 更改日期字體大小 */
#userBDay{
    font-size: 16px;
}
