<div id="aside1Div" class=" d-md-block">
  <!-- 頭像starts -->
  <figure>
    <div id="asideAvatar" class="d-flex justify-content-center overflow-hidden">
      <img class="" src="./image/avatar/頭像_展演單位.png" alt="">
    </div>
  </figure>

  <div>
    <div class="list-group list-group-flush" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home"
        role="tab" aria-controls="home">資訊主頁</a>
      <a class="list-group-item list-group-item-action" id="list-analyze-list" data-toggle="list"
        href="#list-analyze"
        role="tab" aria-controls="profile">數據分析</a>
      <a class="list-group-item list-group-item-action" id="list-reportShow-list" data-toggle="list"
        href="#list-reportShow" role="tab" aria-controls="settings">被檢舉的展覽</a>
      <a class="list-group-item list-group-item-action" id="list-reportPost-list" data-toggle="list"
        href="#list-reportPost" role="tab" aria-controls="settings">被檢舉的貼文</a>
      <a class="list-group-item list-group-item-action" id="list-Edit-list" data-toggle="list" href="#list-Edit"
        role="tab" aria-controls="Edit">自訂</a>
    </div>
  </div>
</div>