

<div id="aside1Div" class=" d-md-block">
    <!-- 頭像starts -->
    <figure>
        <div id="asideAvatar" class="d-flex justify-content-center overflow-hidden">
            <img class="" src="./image/avatar/頭像_展演單位.png" alt="">
        </div>
        <!-- <a class="just-content-center my-2 text-center">Dear <span>Manager</span>,<br>
            start to manage !
            </a> -->
    </figure>
    <!-- 頭像end -->
    <!-- 條件查詢 starts -->
    <ul class="list-group list-group-flush bg-transparent">
        <!-- 會員管理 starts -->
        <li class="list-group-item bg-transparent"><a class="memberManage" href="#memberManage">會員管理</a>
            <hr>
            <!-- 使用nav-tab取代 -->
            <!-- <hr>
            <ul class="list-group  list-group-flush bg-transparent">
                <li class="list-group-item bg-transparent">
                    <a class="userListBtn" data-toggle="collapse" href="#userList" aria-expanded="false">
                        一般會員 
                    </a>
                </li>
                <li class="list-group-item bg-transparent">
                    <a class="showCustomerListBtn" data-toggle="collapse" href="#showCustomerList" aria-expanded="false">
                        展演單位 
                    </a>
                </li>
                <li class="list-group-item bg-transparent">
                    <a class="blackListBtn" data-toggle="collapse" href="#blackList" aria-expanded="false">
                        黑名單 
                    </a>
                </li>
            </ul> -->
        </li>
        <!-- 會員管理 end -->
        <!-- 展覽管理 starts -->
        <li class="list-group-item bg-transparent"><a class="ShowManage" href="#ShowManage">展覽管理</a>
            <hr>
            <!-- <ul class="list-group list-group-flush bg-transparent">
                <li class="list-group-item bg-transparent">
                    <a class="allShowListBtn" data-toggle="collapse" href="#allShowList" aria-expanded="false">
                        所有展覽 
                    </a>
                </li>
            </ul> -->
        </li>
        <!-- 展覽管理 end -->
        <!-- 通報管理 starts -->
        <li class="list-group-item bg-transparent"><a class="InformManage" href="#InformManage">通報管理</a>
            <hr>
            <!-- <ul class="list-group  list-group-flush bg-transparent">
                <li class="list-group-item bg-transparent">
                    <a class="showInformBtn" data-toggle="collapse" href="#" >
                        展覽檢舉 
                        
                    </a>
                </li>
                <li class="list-group-item bg-transparent">
                    <a class="" data-toggle="collapse" href="#" >
                        貼文檢舉 
                        
                    </a>
                </li>
                <li class="list-group-item bg-transparent">
                    <a class="" data-toggle="collapse" href="#" >
                        意見回饋
                    </a>
                </li>
            </ul> -->
        </li>
        <!-- 通報管理end -->
        <!-- 用戶數據分析統計 starts -->
        <li class="list-group-item bg-transparent"><a class="dataStatistics" href="#dataStatistics">數據統計</a>
            <hr>
        </li>
        <!-- 數據分析end -->
    </ul>
    <!-- 條件查詢 end -->
</div>


<script>
    //會員管理頁面
    $(".memberManage").click(function(){
        $('#mainPage').load('ManagerPage/MemberManage.html');
    });

    //所有展演List
    $(".ShowManage").click(function(){
        $('#mainPage').load('ManagerPage/AllShowList.html');
    });

    //通知管理頁面
    $(".InformManage").click(function(){
        $('#mainPage').load('ManagerPage/InformMange.html');
    });

    $(".dataStatistics").click(function(){
        $('#mainPage').load('ManagerPage/dataStatisticsManage.html');
    });


</script>