
<a id="newMessage" class="nav-link ml-2 " href=""><i class="far fa-bell" aria-hidden="true"></i></a>
<a id="myShow" class="nav-link ml-2 d-none d-md-block" href=""><i class="far fa-heart" aria-hidden="true"></i></a>
<a id="setUp" class="nav-link ml-2 " href="/CommonPage/Aside/AsideFalse.html"><i class="fa fa-cog" aria-hidden="true"></i></a>
<a id="logOut" class="nav-link ml-2 " href="">登出</a>

<script>
    $('#setUp').click(function(){
        $('#main').load('/CommonPage/mainPage/setUpPage.html');
    });
    // $('#logOut').click(function(){
    //     $('#avatarNavSet').load('./CommonPage/logInFalseNav.html');
    //     $('#aside1').load('../AsidePage/CommonLogInFalseAside.html');
    // });
</script>