@*@if (Model.BrowserRemembered)
{
    
    <p>
        Browser is curently remembered for two factor:
        <input type="submit" value="Forget Browser" class="btn btn-default" />
    </p>
}
else
{
    <p>
        Browser is curently not remembered for two factor:
        <input type="submit" value="Remember Browser" class="btn btn-default" />
    </p>
}*@

@if (Model.BrowserRemembered)
{
    <form method="post" action="/Manage/ForgetBrowser" id="IsRememberBrowser">
        <p>
            Browser is curently remembered for two factor:
            <input type="submit" value="Forget Browser" class="btn btn-default" />
        </p>
    </form>
}
else
{
    <form method="post" action="/Manage/RememberBrowser" id="IsRememberBrowser">
        <p>
            Browser is curently not remembered for two factor:
            <input type="submit" value="Remember Browser" class="btn btn-default" />
        </p>
    </form>
}