@if (Model.TwoFactor)
{
    <form method="post" action="/Manage/DisableTFA" id="IsEnableTFA">
        <p>
            Two factor is currently enabled:
            <input type="submit" value="Disable" class="btn btn-default" />
        </p>
    </form>
}
else
{
    <form method="post" action="/Manage/EnableTFA" id="IsEnableTFA">
        <p>
            Two factor is currently disabled:
            <input type="submit" value="Enable" class="btn btn-default" />
        </p>
    </form>
}