<div class="modal-header justify-content-center">
    <h5 class="modal-title">已發送密碼重設信</h5>
</div>
<div class="modal-body">
    <main>
        <!-- 主內容 -->
        <br>
        <section id="Section" class="w-100 text-center">
            <p>請檢查您的電子郵件以重設密碼。</p>
            <br>
            <p>@Html.Raw(ViewBag.ResetLink)</p>
            <br>
            <p>點擊<a href="~/Account/AccountIndex">此處</a>返回登入畫面</p>
        </section>
    </main>
</div>