<div class="modal-body">
    <main>
        <section id="Section" class="w-100 text- center">
            <p>@((string)TempData["Error"])</p>
            <br>
            <br>
            <button type="button" class="btn btn-danger" data-dismiss="modal">關閉視窗</button>
        </section>
    </main>
</div>