@*引入PagedList.Mvc分頁套件*@
@using PagedList
@using PagedList.Mvc
@model IPagedList<arTWander.Models.ShowMinViewModel>
@{
    Layout = "~/Views/Shared/CommonLayout/_AsideTrue.cshtml";
}
<!-- 展覽列表 starts -->
<div class="container">
    <article class="d-flex justify-content-between">
        <a href="@Url.Action("Create", "ShowPageManage")" class="btn btn-outline-primary">
            <i class="fas fa-plus"
               style="vertical-align: middle; color: dodgerblue;"></i>新增展演
        </a>
        <article class="btn-group">
            <a href="#" id="HotSort" class="btn btn-outline-dark"></a>
            <a href="#" id="ViewSort" class="btn btn-outline-dark"></a>
            <a href="#" id="DateSort" class="btn btn-outline-dark"></a>
        </article>
    </article>

    <!-- 展覽列表 -->
    <div id="showPages">
        @{Html.RenderPartial("~/Views/Shared/CompanyPartial/_ShowPagePartial.cshtml", Model); }
    </div>
</div>
<!-- 展覽列表 ends -->

@section css{
    <link href="~/css/css_commonPage/ShowList.css" rel="stylesheet" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @*PagedList.Mvc分頁切換css & jquery函示庫*@
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

@section scripts{
    <script>
        function removeShowPage(showPageId) {
            Swal.fire({
                title: '移除展覽?',
                text: "是否要移除此展覽？",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: '是！確定移除',
                cancelButtonText: '否！不要移除',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'post',
                        url: './ShowPageManage/Delete',
                        data: { showPageId: showPageId },
                        success: function () {
                            updateShowPages();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            Swal.fire({
                                icon: 'error',
                                title: textStatus,
                                text: errorThrown,
                                showConfirmButton: false,
                                showCancelButton: true
                            });
                        }
                    });
                }
            });
        }

        function updateShowPages() {
            $.ajax({
                type: 'get',
                url: './ShowPageManage/getShowPages',
                success: function (data) {
                    $('#showPages').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    Swal.fire({
                        icon: 'error',
                        title: textStatus,
                        text: errorThrown,
                        showConfirmButton: false,
                        showCancelButton: true
                    });
                }
            })
        }
    </script>
    <script src="~/javascript/MyShowPage.js"></script>
}
