<div class="row d-flex justify-content-center">
    <div class="col-9 px-0">

        <!--展演標題-->
        <h1 id="titleName"></h1>

        @*輪播圖*@
        <div id="carouselExampleIndicators" class="carousel slide mb-3" data-ride="carousel" data-touch="true">
            <ol class="carousel-indicators" id="carousel-indicators"></ol>
            <div class="carousel-inner bg-light" id="carousel-inner"></div>
            <button class="carousel-control-prev" type="button" style="background-color: transparent; border-style: none;" data-target="#carouselExampleIndicators" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" style="background-color: transparent; border-style: none;"
                    data-target="#carouselExampleIndicators" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
        <br />
        @*展演開放資訊*@
    <div class="w-100 mb-4" id="infoDiv">
        <div class="row" style="font-size:20px;">
            <label class="col-md-2">日期：</label>
            <span class="col-md-10" id="dateRange"></span>
        </div>
        <div class="row" style="font-size:20px;">
            <label class="col-md-2">時間：</label>
            <span class="col-md-10" id="timeRange"></span>
        </div>
        <div class="mb-3">
            <label style="font-size:20px;">展出時段：</label>
            <div class="row" id="todayItems"></div>
        </div>
        <div class="row mb-3" style="font-size:20px;">
            <label class="col-md-2">地點：</label>
            <a id="addr" class="col-md-10" href="https://www.google.com/maps/search/?api=1&query=@Model.Address" target="_blank"><i class="fas fa-map-marker-alt"> </i></a>
        </div>
        <div class="row" style="font-size:20px;">
            <div class="col-lg-4">
                <label>是否收費：</label>
                <span id="cost"></span>
            </div>
            <div class="col-lg-4">
                <label>收費金額($TW)：</label>
                <span id="price"></span>
            </div>
            <div class="col-lg-4">
                <label>未滿18歲可觀看：</label>
                <span id="ageRange"></span>
            </div>
        </div>
        <div class="form-group" style="font-size:20px;">
            <label>備註：</label>
            <pre id="remark" class="form-text w-100"></pre>
        </div>
    </div>
        <hr />

        @*展演介紹*@
        <div class="jumbotron w-100 p-5 mb-4 bg-transparent">
            <pre id="description" style="white-space: pre-wrap; word-wrap: break-word;font-size:20px"></pre>
        </div>

        @*關鍵字標籤*@
        <div class="w-100 d-flex justify-content-start" id="keywordItem"></div>
    </div>
</div>