@model arTWander.Models.CommonViewModel.CommonShowViewModel

<!-- 展覽starts -->
<div class="col-12 col-lg-4 position-relative mb-lg-5">
    <!-- 展覽圖片 starts -->
    <div class="showImg">
        <a href="#">
            <img class="w-100 rounded-sm img-fluid " src="~/image/exhibiton/@Model.showImg" alt="">
        </a>
    </div>
    <!-- 展覽圖片 ends -->
    <!-- 展覽敘述卡 strats -->
    <div class="shortDetail">
        <div class="d-flex align-items-center">
            <a name="showCity" href="/Common/Index?city=@Model.showCity">@Model.showCity</a>／
            <div class="marqee">
                <a href="">@Model.showTitle</a>
            </div>
        </div>
        <div class="description">
            <a href="#">@Model.showDiscription</a>
        </div>
        <div class="d-flex align-items-center justify-content-end ">
            @*<a class="mr-2" href="">05 comment</a>*@
            <a class="addToMyShow" href=""> 
                ⧾我的展覽
                <input type="hidden" name="name" value="@Model.showId" />
            </a>
        </div>
    </div>
    <!-- 展覽敘述卡 ends -->
</div>
<!-- 展覽 ends -->

