.borderBlack{
    border: 1px solid black;
}

.postAvatar{
    width: 80px;
    height: 80px;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.mediaContentLess{
    overflow:hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}