@{
    ViewBag.Title = "確認電子郵件";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("按一下這裡登入", "AccountIndex", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
