@model arTWander.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!-- 登入頁面 -->
<div class="container">
    <!-- 驗證nav starts -->
    <ul class="nav nav-tabs d-flex justify-content-center border-bottom-0 " id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <h4>忘記密碼嗎? 可在此處重設</h4>
        </li>
    </ul>

    <!-- 驗證nav ends -->
    <div class="tab-content">
        <!-- 驗證欄位 starts -->
        <form id="loginForm" action="~/Account/ForgotPassword" method="post" class="tab-pane fade show active " role="tabpanel" aria-labelledby="loginForm-tab" novalidate>
            @Html.AntiForgeryToken()
            <div class="row my-3 col-12 col-md-6 mx-auto">
                <div class="col-12 w-100 mx-auto text-center">
                    <label for="Email">請輸入您的註冊信箱</label>
                </div>
                <div class="col-12 w-100 mx-auto text-center mt-2">
                    <input id="Email" name="Email" type="Email" class="border-bottom border-top-0 border-left-0 border-right-0 bg-transparent">
                </div>
            </div>
            <br>
            <br>

            <div class="row mt-3 mb-2 justify-content-center">
                <div class="col-12 col-md-2 d-flex justify-content-center my-2">
                    <button type="submit" class="btn btn-outline-secondary border-0 bg-pink text-white text-white w-100" >寄送重設信</button>
                </div>
            </div>

            <input id="mailVerbtn" type="button" value="button"  data-toggle="modal" data-target="#mailVerifyTrue" hidden/>
        </form>
        <!-- 驗證欄位 ends -->
    </div>
</div>


<!-- 彈出視窗顯示驗證成功資訊 -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade px-0 mt-5" id="mailVerifyTrue" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true" data-backdrop="static">
    <!-- 控至彈出窗大小 -->
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="modedlMsg">
            
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#loginForm').submit(function (event) {
            event.preventDefault();

            let formData = $(this).serialize();

            $.ajax({
                type: 'post',
                url: '@Url.Action("ForgotPassword", "Account")',
                data: formData,
                success: function (data) {
                    let modedlMsg = document.getElementById('modedlMsg');
                    modedlMsg.innerHTML = data;
                    $('#mailVerbtn').trigger('click');
                }
            });
        });

    </script>
}