@{
    ViewBag.Title = "忘記密碼確認";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        請檢查電子郵件以重設密碼。
    </p>
    <p class="text-danger">
        For DEMO only: You can click this link to reset password: <a href="@TempData["ResetLink"]">link</a>
        Please change this code to register an email service in IdentityConfig to send an email.
    </p>
</div>

