@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container">
    <!-- 驗證nav starts -->
    <ul class="nav nav-tabs d-flex justify-content-center border-bottom-0 " id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <h4>密碼重設信已寄出</h4>
        </li>
    </ul>

    <!-- 驗證nav ends -->
    <div class="tab-content">
        <div class="row my-3 col-12 col-md-6 mx-auto">
            <div class="col-12 w-100 mx-auto text-center">
                請檢查電子郵件以重設密碼。
            </div>
            <br />
            <br />
            <div class="col-12 w-100 mx-auto text-center">
                DEMO:或點擊 <a href="@TempData["ResetLink"]">此連結</a>
            </div>
        </div>
    </div>
</div>