#userAvatarImg{
    filter: brightness(.5);
}

#userAvatarDiv{
    position: relative;
    width: 100px;
    height: 100px;
}

.fa-camera{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    transition: all .2s ease-in-out;
}

#fakeDiv{
    width: 100px;
    height: 100px;
    /* background-color: blueviolet; */
}

#userAvatarImg:hover{
    /* filter: blur(4px); */
    transition: all .2s ease-in-out;
}

#mainPage input{
    height: 32px;
}