#avatarNavSet a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all .3s ease-in-out;
}

#avatarNavSet a:hover{
    text-decoration: none;
    color: rgb(197, 126, 104);
}

.bg-pink{
    background-color: rgb(197, 126, 104);
}

#aside1 a:hover {
    text-decoration: none;
    color: rgb(197, 126, 104);
}

.fa-cog:hover {
    transform: rotate(180deg);
}   