
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div>
        <input id="Button1" type="button" value="button" />
    </div>

    <script>
        $('#Button1').click(function () {
            let result = [];

            result.push({ 'Name': 'Ken', 'Price': 123 });
            result.push({ 'Name': 'Ken', 'Price': 123 });

            $.ajax({
                type: 'post',
                url: '@Url.Action("test","Home")',
                data: { Service: result },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                }, error: function (qXHR, textStatus, errorThrown) {
                    console.log(`${textStatus} - ${errorThrown}`);
                }
            });
        });
    </script>
</body>
</html>
