@using Microsoft.AspNet.Identity
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>arTWander</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>


    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/9bd3ad2735.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link href="~/css/CommonLayout/_AsideTrue.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="/css/ManagerIndex.css">
        <link rel="stylesheet" type="text/css" href="/css/CommonIndex.css">*@
    @RenderSection("css", required: false)
</head>

<body>
    <div class="container">
        <!-- 導覽列 starts -->
        <header>
            <!-- logo及登入 starts -->
            <div id="topHeader" class="row mt-3 d-flex justify-content-end">
                <figure class="col-4 d-flex justify-content-center">
                    <a href="#"><img src="/image/logo/logo.png" alt=""></a>
                </figure>
                <div class="col-4 d-flex justify-content-end align-items-start" id="avatarNavSet">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <a id="newMessage" class="nav-link ml-2 " href=""><i class="far fa-bell" aria-hidden="true"></i></a>
                            <a id="myShow" class="nav-link ml-2 d-none d-md-block" href=""><i class="far fa-heart" aria-hidden="true"></i></a>
                            <a id="setUp" class="nav-link ml-2" href=""><i class="fa fa-cog" aria-hidden="true"></i></a>
                        }
                        else if (User.IsInRole("Company"))
                        {
                            <a id="newMessage" class="nav-link ml-2 " href=""><i class="far fa-bell" aria-hidden="true"></i></a>
                            <a id="myShow" class="nav-link ml-2 d-none d-md-block" href=""><i class="far fa-heart" aria-hidden="true"></i></a>
                            <a id="setUp" class="nav-link ml-2" href=""><i class="fa fa-cog" aria-hidden="true"></i></a>
                        }
                        else if (User.IsInRole("Member"))
                        {
                            <a id="newMessage" class="nav-link ml-2 " href=""><i class="far fa-bell" aria-hidden="true"></i></a>
                            <a id="myShow" class="nav-link ml-2 d-none d-md-block" href=""><i class="far fa-heart" aria-hidden="true"></i></a>
                            <a id="setUp" class="nav-link ml-2" href=""><i class="fa fa-cog" aria-hidden="true"></i></a>
                        }

                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a id="logOut" class="nav-link ml-2" href="javascript:document.getElementById('logoutForm').submit()">登出</a>
                        }
                    }
                    else
                    {
                        <a href="~/Account/AccountIndex" class="nav-link ml-2">登入 / 註冊</a>
                    }
                </div>
            </div>
            <!-- logo及登入 ends -->
            <!-- fixed導覽列 starts -->

            <input type="checkbox" id="navControl">
            <nav id="navbarFixed" class="nav justify-content-center bg-white">
                <label for="menuControl" class="menuControlBtn d-block"><span>AA</span></label>
                <a href="#" class="d-md-none"> </a>
                <a id="homePage" class="nav-link active" href="#">首頁</a>
                <a id="showList" class="nav-link" href="#">全部展覽</a>
                <a id="GalleryList" class="nav-link" href="#">展演單位</a>
                <a id="forum" class="nav-link" href="#">討論區</a>
            </nav>
            <!-- fixed導覽列 end -->
            <!-- breadcrumb starts -->
            <nav id="cmnPage_BreadCrumb" class="col-12 my-4" aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                    <li class="breadcrumb-item">
                        <a href="#">全部展覽</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">台北市</li>
                </ol>
            </nav>
            <!-- breadcrumb ends -->
        </header>
        <!-- 導覽列 end -->
        <!-- 主要內容區 starts-->
        <main>
            <div class="container">
                <div id="mainSection" class="row">
                    <!-- 判斷是否開啟RWD左側邊框 -->
                    <input type="checkbox" id="menuControl">
                    <!-- 左側邊框 -->
                    <aside id="aside1" class="col-12 col-md-3  mt-0" style="z-index: 1002;">
                        @if (Request.IsAuthenticated)
                        {
                            Html.RenderPartial("~/Views/Shared/CommonPartial/Aside/_PartialLogInTrue.cshtml");
                        }
                        else
                        {
                            Html.RenderPartial("~/Views/Shared/CommonPartial/Aside/_PartialLogInFalse.cshtml");
                        }
                    </aside>
                    <!-- 右側主內容 -->
                    <section id="Section" class="col-12 col-md-9 w-100">
                        <div id="mainPage">
                            @RenderBody()
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <!-- 主要內容區 ends-->
    </div>

    <!-- footer strats -->
    <footer class="mt-5">
        <section class="bg-gray d-flex flex-column w-100 py-5">
            <!-- 資訊 starts -->
            <section class="container w-100 ">
                <!-- row1 strats-->
                <div class="row justify-content-center mt-5">
                    <div class="col-12 container-fluid d-md-flex  ">
                        <!-- About us starts -->
                        <div class="co1-12 col-md-4 mb-5 mr-md-4">
                            <h5 class="font-weight-bold">About us</h5>
                            <p>
                                本站宗旨為增強台灣藝文展演資訊之能見度，透過蒐集四散於網路各角落的台灣展演資訊，打造一個可供展演單位宣傳精心之作、
                                同時方便使用者探索全台藝文展覽的平台。
                                <br>
                                本站於2021年起始營運至今，歡迎透過以下連絡方式與我們取得聯繫。
                            </p>
                            <h5 class="font-weight-bold">Contact us</h5>
                            <p>
                                電話：0800-111-222
                                <br>
                                信箱：test001@gmail.com
                            </p>
                            <div class="w-100 d-flex justify-content-end">
                                <h5>arTWander 藝文漫步</h5>
                            </div>
                        </div>
                        <!-- About us ends -->
                        <!-- 意見回饋 starts -->
                        <div class="col-12 col-md-8">
                            <h5 class="font-weight-bold">我們重視你的意見！</h5>
                            <form class="d-flex flex-column justify-content-end" action="">
                                <div class="form-group">
                                    <label class="font-size-sm" for="feedBack">請將您寶貴的意見回饋給本站，您的關注是我們持續改進的動力</label>
                                    <textarea class="form-control" id="feedBack" rows="5"></textarea>
                                    <br>
                                    <input type="text" class="form-control" placeholder="請留下您的email，讓我們回信給您">
                                </div>
                                <button class="btn btn-outline-secondary border-0 bg-pink text-white" type="button" id="btnFeedback">送出</button>
                            </form>
                        </div>
                        <!-- 意見回饋 ends -->
                    </div>
                </div>
                <!-- row1 ends -->
                <!-- row2 starts -->
                <div class="row mt-5 mt-md-0">
                    <div class="col-12 container-fluid ">
                        <!-- 訂閱 starts -->
                        <form class="col-12 ">
                            <h5 class="font-weight-bold">想收到第一手展演資訊嗎?</h5>
                            <p>請留下您的email，接收本站的電子報！</p>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="email" aria-label="suscribeEmail" aria-describedby="btnSuscribe">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary border-0 bg-pink text-white" type="submit" id="btnSuscribe">訂閱</button>
                                </div>
                            </div>
                        </form>
                        <!-- 訂閱 ends -->
                    </div>
                </div>
                <!-- row2 ends -->
                <!-- row3 starts -->
                <div class="row justify-content-center mt-5">
                    <p>Copyright© 2021 arTWander Inc.  </p>
                </div>
                <!-- row3 ends -->
            </section>
            <!-- 資訊 ends -->
        </section>
    </footer>
    <!-- footer ends -->
    <!-- 下面用於判斷aside是否存在, 以及為CSS偽類增加一行display:none -->
    <style id="css"></style>
    <script src="/javascript/AsideTrue.js"></script>
    <!-- aside判斷結束 -->
</body>

</html>