
@{
    Layout = null;
}


<div class="py-5">
    <div>
        <h4 class="col-6 col-md-4 px-0 my-auto itineraryIcon font-weight-bold">請選擇您的看展時段</h4>
        <hr>
        <br>
    </div>

    <!-- 區域選擇 -->
    <div class="container mb-3">
        <div class="d-flex my-auto px-0">
            <div class="row w-100 justify-content-start">
                <label for="startDate" class="col-6 col-lg-2 my-auto pl-0">出發日期 </label>
                <input type="date" class="form-control col-6 col-lg-4" id="startDate">
            </div>
        </div>
    </div>
    <!-- 時間選擇 -->
    <div class="container mb-3">
        <div class="row my-3">
            <div class="col-12 col-md-6 mx-0">
                <div class="d-flex my-auto px-0">
                    <div class="row w-100 justify-content-start">
                        <label for="startDate" class="col-12 my-auto pl-0">開始時間 </label>
                        <select class="form-control ml-1 col-12" id="informStatus" multiple size="5">
                            <option value="" selected disabled hidden>請選擇開始時間</option>
                            <option value="1">08:00</option>
                            <option value="2">09:00</option>
                            <option value="3">10:00</option>
                            <option value="4">11:00</option>
                            <option value="4">12:00</option>
                            <option value="4">13:00</option>
                            <option value="4">14:00</option>
                            <option value="4">15:00</option>
                            <option value="4">16:00</option>
                            <option value="4">17:00</option>
                            <option value="4">18:00</option>
                            <option value="4">19:00</option>
                            <option value="4">20:00</option>
                            <option value="4">21:00</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex my-auto px-0">
                    <div class="row w-100 justify-content-start">
                        <label for="startDate" class="col-12 my-auto pl-0">結束時間 </label>
                        <select class="form-control ml-1 col-12" id="informStatus" multiple size="5">
                            <option value="" selected disabled hidden>請選擇結束時間</option>
                            <option value="1">08:00</option>
                            <option value="2">09:00</option>
                            <option value="3">10:00</option>
                            <option value="4">11:00</option>
                            <option value="4">12:00</option>
                            <option value="4">13:00</option>
                            <option value="4">14:00</option>
                            <option value="4">15:00</option>
                            <option value="4">16:00</option>
                            <option value="4">17:00</option>
                            <option value="4">18:00</option>
                            <option value="4">19:00</option>
                            <option value="4">20:00</option>
                            <option value="4">21:00</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 主畫面資料導入 -->
<div class="container px-0 col-12">
    <div class="py-5">
        <div>
            <h4 class="col-6 col-md-6 px-0 my-auto itineraryIcon font-weight-bold">請選擇您本次預計參觀的展覽</h4>
            <hr>
            <br>
        </div>
        <!-- 選擇打算參加展覽導入 -->
        <!-- 顯示訂單內縣市展演 start -->
        <div class="showJoin col-12 px-0 ">
            <!-- 顯示訂單內縣市展演 start -->
            <label for="showCity" class="col-12 my-auto pl-0">台北市 </label>
            <div class="showCityBorder py-0">
                <table class="table table-borderless my-auto">
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </td>
                            <td><span class="showCustomer">耿畫廊</span> | <span class="showName">CREN/ATURE 物 自 造</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </td>
                            <td><span class="showCustomer">北北館</span> | <span class="showName">奈良美智特展</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </td>
                            <td><span class="showCustomer">中美館</span> | <span class="showName">奈奈美智特展</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 顯示訂單內縣市展演 end -->
        <!-- 顯示訂單內縣市展演 start -->
        <div class="showJoin col-12 px-0 mt-3">
            <!-- 顯示訂單內縣市展演 start -->
            <label for="showCity" class="col-12 my-auto pl-0">台北市 </label>
            <div class="showCityBorder py-0">
                <table class="table table-borderless my-auto">
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </td>
                            <td><span class="showCustomer">耿畫廊</span> | <span class="showName">CREN/ATURE 物 自 造</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </td>
                            <td><span class="showCustomer">北北館</span> | <span class="showName">奈良美智特展</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" aria-label="Checkbox for following text input">
                            </td>
                            <td><span class="showCustomer">中美館</span> | <span class="showName">奈奈美智特展</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 顯示訂單內縣市展演 end -->
    <!-- 本次行程排序 -->
    <div class="showSort col-12 px-0 py-5">
        <div>
            <h4 class="col-6 col-md-4 px-0 my-auto itineraryIcon font-weight-bold">請為本次行程排序</h4>
            <hr>
            <br>
        </div>
        <!-- 顯示訂單內縣市展演 start -->
        <div class="showJoin col-12 mt-3">
            <!-- 顯示訂單內縣市展演 start -->
            <div class="showCityBorder py-0">
                <table class="table table-borderless my-auto">
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td><span class="showCustomer">耿畫廊</span> | <span class="showName">CREN/ATURE 物 自 造</span></td>
                            <td class="text-center ">
                                <a href="" class="px-1"><i class="fa fa-plus"></i></a>
                                <a href="" class="px-1"><i class="fa fa-minus"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><span class="showCustomer">高美館</span> | <span class="showName">奈良美智特展</span></td>
                            <td class="text-center">
                                <a href="" class="px-1"><i class="fa fa-plus"></i></a>
                                <a href="" class="px-1"><i class="fa fa-minus"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><span class="showCustomer">中美館</span> | <span class="showName">奈奈美智特展</span></td>
                            <td class="text-center">
                                <a href="" class="px-1"><i class="fa fa-plus"></i></a>
                                <a href="" class="px-1"><i class="fa fa-minus"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 顯示訂單內縣市展演 end -->
    <!-- 輸入出發地點 start-->
    <div class="startPosition col-12 px-0 py-5">
        <div>
            <h4 class="col-6 col-md-4 px-0 my-auto font-weight-bold">請輸入您的出發位置</h4>
            <hr>
            <br>
        </div>
        <form action="" class="mt-3 d-flex flex-column align-items-center">
            <div class="form-group w-100 mb-5">
                <textarea class="form-control w-100" id="exampleFormControlTextarea1" rows="1"></textarea>
            </div>
            <input class="btn btn-outline-secondary border-0 bg-pink text-white w-25" type="submit" value="開始規劃路線">
        </form>
    </div>
    <!-- 輸入出發地點 end-->
    <!-- 地圖建議路線 start-->
    <div class="startPosition col-12 px-0 py-5">
        <div class="mb-4">
            <h4 class="col-6 col-md-4 px-0 my-auto mt-3 font-weight-bold">建議路線</h4>
            <hr>
            <br>
        </div>

        <!-- 導入地圖api -->
        <div>
            <img src="/image/map.png" class="w-100">
        </div>
    </div>
    <!-- 地圖建議路線 end-->
</div>


