
@{
    Layout = null;
}



<!-- breadcrumb starts -->
<nav id="cmnPage_BreadCrumb" class="col-12 mb-4 px-0" aria-label="breadcrumb">
    <ol class="breadcrumb bg-light">
        <li class="breadcrumb-item"><a href="#">訂閱單位</a></li>
    </ol>
</nav>
<!-- breadcrumb ends -->


<div class="container">
    <div class="row row-cols-lg-2 row-cols-xl-3 subScriptionRow">
        <!-- 展演單位starts -->
        <div class="col position-relative mb-5 d-flex flex-column align-items-center">
            <!-- 展演單位頭像 starts -->
            <div class="GalleryImg rounded-circle d-flex position-relative ">
                <a class="galleryPage" href="#">
                    <img class="w-100 rounded-circle img-fluid " src="../image/exhibiton/moca1.jpg" alt="">
                </a>
            </div>
            <a href="" class="mySubscriptionDeleteIcon"><i class="fa fa-times" aria-hidden="true"></i></a>
            <!-- 展演單位頭像 ends -->
            <!-- 展演單位資訊 starts -->
            <div class="mt-2">
                <a class="" href="">台北市</a>／
                <a class="" href="">双方藝廊</a>
            </div>
            <!-- 展演單位資訊 ends -->
        </div>
        <!-- 展演單位 ends -->
        <!-- 展演單位starts -->
        <div class="col position-relative mb-5 d-flex flex-column align-items-center">
            <!-- 展演單位頭像 starts -->
            <div class="GalleryImg rounded-circle d-flex position-relative ">
                <a class="galleryPage" href="#">
                    <img class="w-100 rounded-circle img-fluid " src="../image/exhibiton/moca1.jpg" alt="">
                </a>
            </div>
            <a href="" class="mySubscriptionDeleteIcon"><i class="fa fa-times" aria-hidden="true"></i></a>
            <!-- 展演單位頭像 ends -->
            <!-- 展演單位資訊 starts -->
            <div class="mt-2">
                <a class="" href="">台北市</a>／
                <a class="" href="">双方藝廊</a>
            </div>
            <!-- 展演單位資訊 ends -->
        </div>
        <!-- 展演單位 ends -->
        <!-- 展演單位starts -->
        <div class="col position-relative mb-5 d-flex flex-column align-items-center">
            <!-- 展演單位頭像 starts -->
            <div class="GalleryImg rounded-circle d-flex position-relative ">
                <a href="#">
                    <img class="w-100 rounded-circle img-fluid " src="../image/exhibiton/moca1.jpg" alt="">
                </a>
            </div>
            <a href="" class="mySubscriptionDeleteIcon"><i class="fa fa-times" aria-hidden="true"></i></a>
            <!-- 展演單位頭像 ends -->
            <!-- 展演單位資訊 starts -->
            <div class="mt-2">
                <a class="" href="">台北市</a>／
                <a class="" href="">双方藝廊</a>
            </div>
            <!-- 展演單位資訊 ends -->
        </div>
        <!-- 展演單位 ends -->
        <!-- 展演單位starts -->
        <div class="col position-relative mb-5 d-flex flex-column align-items-center">
            <!-- 展演單位頭像 starts -->
            <div class="GalleryImg rounded-circle d-flex position-relative ">
                <a href="#">
                    <img class="w-100 rounded-circle img-fluid " src="../image/exhibiton/moca1.jpg" alt="">
                </a>
            </div>
            <a href="" class="mySubscriptionDeleteIcon"><i class="fa fa-times" aria-hidden="true"></i></a>
            <!-- 展演單位頭像 ends -->
            <!-- 展演單位資訊 starts -->
            <div class="mt-2">
                <a class="" href="">台北市</a>／
                <a class="" href="">双方藝廊</a>
            </div>
            <!-- 展演單位資訊 ends -->
        </div>
        <!-- 展演單位 ends -->
        <!-- 展演單位starts -->
        <div class="col position-relative mb-5 d-flex flex-column align-items-center">
            <!-- 展演單位頭像 starts -->
            <div class="GalleryImg rounded-circle d-flex position-relative ">
                <a href="#">
                    <img class="w-100 rounded-circle img-fluid " src="../image/exhibiton/moca1.jpg" alt="">
                </a>
            </div>
            <a href="" class="mySubscriptionDeleteIcon"><i class="fa fa-times" aria-hidden="true"></i></a>
            <!-- 展演單位頭像 ends -->
            <!-- 展演單位資訊 starts -->
            <div class="mt-2">
                <a class="" href="">台北市</a>／
                <a class="" href="">双方藝廊</a>
            </div>
            <!-- 展演單位資訊 ends -->
        </div>
        <!-- 展演單位 ends -->
        <!-- 展演單位starts -->
        <div class="col position-relative mb-5 d-flex flex-column align-items-center">
            <!-- 展演單位頭像 starts -->
            <div class="GalleryImg rounded-circle d-flex position-relative ">
                <a href="#">
                    <img class="w-100 rounded-circle img-fluid " src="../image/exhibiton/moca1.jpg" alt="">
                </a>
            </div>
            <a href="" class="mySubscriptionDeleteIcon"><i class="fa fa-times" aria-hidden="true"></i></a>
            <!-- 展演單位頭像 ends -->
            <!-- 展演單位資訊 starts -->
            <div class="mt-2">
                <a class="" href="">台北市</a>／
                <a class="" href="">双方藝廊</a>
            </div>
            <!-- 展演單位資訊 ends -->
        </div>
        <!-- 展演單位 ends -->
        <!-- 展演單位starts -->
        <div class="col position-relative mb-5 d-flex flex-column align-items-center">
            <!-- 展演單位頭像 starts -->
            <div class="GalleryImg rounded-circle d-flex position-relative ">
                <a href="#">
                    <img class="w-100 rounded-circle img-fluid " src="../image/exhibiton/moca1.jpg" alt="">
                </a>
            </div>
            <a href="" class="mySubscriptionDeleteIcon"><i class="fa fa-times" aria-hidden="true"></i></a>
            <!-- 展演單位頭像 ends -->
            <!-- 展演單位資訊 starts -->
            <div class="mt-2">
                <a class="" href="">台北市</a>／
                <a class="" href="">双方藝廊</a>
            </div>
            <!-- 展演單位資訊 ends -->
        </div>
        <!-- 展演單位 ends -->

    </div>
</div>

<!-- 分頁 starts -->
<div class="container my-5">
    <div class="row justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link text-dark" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link text-dark" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- 分頁 ends -->

<script>
    $(".galleryPage").click(function () {
        $.ajax({
            type: 'post',
            url: '@Url.Action("SubscriptionDetail", "Common")',
            data: FormData,
            success: function (data) {
                $('#mainPage').html(data);
            }
        });
    });

</script>