
@{
    Layout = null;
}

<!-- breadcrumb starts -->
<nav id="cmnPage_BreadCrumb" class="col-12 mb-4 px-0" aria-label="breadcrumb">
    <ol class="breadcrumb bg-light">
        <li class="breadcrumb-item"><a href="#">訂閱單位</a></li>
        <li class="breadcrumb-item active" aria-current="page">雙方藝廊</li>
    </ol>
</nav>
<!-- breadcrumb ends -->


<div class="container mt-5">
    <div class="row">
        <!-- 展演單位starts -->
        <div class="col-12 col-md-4 position-relative d-flex flex-column align-items-center">
            <!-- 展演單位頭像 starts -->
            <div class="GalleryImg rounded-circle d-flex position-relative mb-3">
                <a class="galleryPage" href="#">
                    <img class="w-100 rounded-circle img-fluid " src="../image/exhibiton/moca1.jpg" alt="">
                </a>
            </div>
            <!-- 展演單位頭像 ends -->
        </div>

        <div class="col-12 col-md-8 my-auto ">
            <div class="row">
                <div class="col-12 mb-3">
                    <!-- 展演單位資訊 starts -->
                    <h4 class="col-12 px-0 my-auto itineraryIcon font-weight-bold">台北市／双方藝廊</h4>
                    <!-- 展演單位資訊 ends -->
                </div>

                <div class="col-12">
                    <!-- 展演單位資訊 starts -->
                    <!-- 自動斷行 -->
                    <p class="text-break">展覽單位介紹 BlablalblaBlabBlablalblaBlabBlablalblaBlabBlablalblaBlabBlablalblaBlabBlablalblaBlabBlablalblaBlabBlablalblaBlabBlablalblaBlabBlablalblaBlabBlablalblaBlablalblaBlablalblaBlablalblaBlablalblaBlablalblaBlablalblaBlablalblaBlablalblaBlablalblaBlablalblaBlablalbla</p>
                    <!-- 展演單位資訊 ends -->
                </div>
            </div>
        </div>
        <!-- 展演單位 ends -->
    </div>
</div>
<div class="container mt-5">
    <span class="px-3 py-2 spanText"> 當期展覽 </span>
</div>

<div>
    <div class="container">
        <div class="row my-5 position-relative ">
            <!-- 展覽圖片 strats -->
            <div class="col-12">
                <div class="subscriptionShowImg">
                    <a class="showInformBtn" href="" href="" data-toggle="modal" data-target="#staticBackdrop">
                        <img class="w-100 img-fluid" src="https://picsum.photos/1000/500?random=8" alt="">
                    </a>
                </div>
            </div>
            <!-- 展覽圖片 end -->
            <!-- 展覽敘述卡 strats -->
            <div class="SubShowDetail col-12 col-md-4">
                <div class="d-flex align-items-center">
                    <a href="">台北市</a>／
                    <a href="">晚安，待會見</a>
                </div>
                <div class="description">
                    <a href="#">「你們先走，我停在這裡喘一下就跟上了」——蘇育賢。</a>
                </div>
            </div>
            <!-- 展覽敘述卡 ends -->
        </div>
        <br>
        <div class="row my-5 position-relative ">
            <!-- 展覽圖片 strats -->
            <div class="col-12">
                <div class="subscriptionShowImg ">
                    <a href="">
                        <img class="w-100 img-fluid" src="https://picsum.photos/1000/500?random=9" alt="">
                    </a>
                </div>
            </div>
            <!-- 展覽圖片 end -->
            <!-- 展覽敘述卡 strats -->
            <div class="SubShowDetail col-12 col-md-4">
                <div class="d-flex align-items-center">
                    <a href="">台北市</a>／
                    <a href="">晚安，待會見</a>
                </div>
                <div class="description">
                    <a href="#">「你們先走，我停在這裡喘一下就跟上了」——蘇育賢。</a>
                </div>
            </div>
            <!-- 展覽敘述卡 ends -->
        </div>
        <br>
        <div class="row my-5 position-relative ">
            <!-- 展覽圖片 strats -->
            <div class="col-12">
                <div class="subscriptionShowImg">
                    <img class="w-100 img-fluid" src="https://picsum.photos/1000/500?random=10" alt="">
                </div>
            </div>
            <!-- 展覽圖片 end -->
            <!-- 展覽敘述卡 strats -->
            <div class="SubShowDetail col-12 col-md-4">
                <div class="d-flex align-items-center">
                    <a href="">台北市</a>／
                    <a href="">晚安，待會見</a>
                </div>
                <div class="description">
                    <a href="#">「你們先走，我停在這裡喘一下就跟上了」——蘇育賢。</a>
                </div>
            </div>
            <!-- 展覽敘述卡 ends -->
        </div>

    </div>
</div>



<!-- 彈出視窗顯示展演資訊 -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade px-0" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <!-- 控至彈出窗大小 -->
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">展演資訊</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <main>
                    <!-- 主內容 -->
                    <!-- ajax導入相關內容 -->
                    <section id="Section" class="w-100">
                        <div id="detailShowInform">
                        </div>
                    </section>
                </main>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
    //點擊分頁連結頁面
    $(".showInformBtn").click(function () {
        $.ajax({
            type: 'post',
            url: '@Url.Action("ShowInformDetail", "Common")',
            data: {},
            success: function (data) {
                $('#detailShowInform').html(data);
            }
        });
    });
</script>
