#titleCard {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#PromotionalImage {
    max-height:400px;
}

#titleGroup {
    border-top: 1px #DFDFDF solid;
}

.jumbotron {
    border-radius: 0px;
}

#nav-MyShow-tab {
    margin: 0px;
}

.mainField .form-control {
    border-style: none;   
    background-color: transparent;
}